
    <div class="shadow-rounded">
        <div class="col-10">
            <form method="get" asp-controller="Menu" asp-action="Index">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search for pizza" name="searchTerm" id="searchTermInput">
                    <button id="searchButton"class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
