
@{
	ViewData["Title"] = "Order";
}
<div class="container-fluid">
	<div class="col-10">
		<div class="mb-3">
			<div class="row" id="pizzaDetails"></div>
		</div>
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		getOrderFromMenu('@ViewBag.Id','pizzaDetails');
	})	
</script>