
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item h-100 active">
                        <img src="/images/carousel/classic-cheese-pizza-FT-RECIPE0422-31a2c938fc2546c9a07b7011658cfd05.jpg"
                        class="d-block w-100 h-100" alt="Cheese">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carousel/Supreme_pizza.jpg"
                        class="d-block w-100 h-100" alt="Sup">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carousel/vegetarian-pizza.jpg"
                        class="d-block w-100 h-100" alt="Vege">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2><span class="text-yellow fst-italic ">Pizza Paradise</span>, Your Slice of Heaven</h2>
            </div>
            <div class="mb-1 p-3">
                <span <i class="fa-solid fa-seedling text-yellow mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fresh Food</span>
            </div>
            <div class="mb-1 p-3">
                <span <i class="fa-solid fa-pizza-slice text-yellow mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Delicious Meal</span>
            </div>
            <div class="mb-1 p-3">
                <span <i class="fa-solid fa-person-biking text-yellow mx-2 fs-4" ></i></span>
                <span class="fs-5 text-dark">Fastest Delivery</span>
                <p class="py-2">We Promise Deliver Order Within 30 Mins</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 mb-3">
            <h2 class="text-dark fst-italic">Today's Special</h2>
            <div id="todaySpecial" class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="shadow rounded card dishCard p-2">
                        <img class="card-img-top h-50"
                             src="/images/specialOffer/BBQChickenPizzawithCauliflowerCrust5004699695624ce.jpg" />
                        <div class="card-body">
                            <h5 class="card-title text-dark">Cauliflower Pizza Crust (with BBQ Chicken Pizza)</h5>
                            <div class="d-flex flex-wrap justify-content-between">
                                <a href="Menu/Order?id=5ed6604591c37cdc054bcd09"
                                   class="btn btn-sm bg-black text-white shadow rounded p-2">Order</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="shadow rounded card dishCard p-2">
                        <img class="card-img-top h-50" src="/images/specialOffer/pizzaburgera5bd.jpg" />
                        <div class="card-body">
                            <h5 class="card-title text-dark">Pepperoni Pizza Burgers</h5>
                            <div class="d-flex flex-wrap justify-content-between">
                                <a href="Menu/Order?id=5ed6604591c37cdc054bcc40"
                                   class="btn btn-sm bg-black text-white shadow rounded mt-4 p-2">Order</a>
                                
                            </div>   
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="shadow rounded card dishCard p-2">
                        <img class="card-img-top h-50" src="/images/specialOffer/Pizza2BQuesadillas2B2528aka2BPizzadillas25292B5002B834037bf306b.jpg" />
                        <div class="card-body">
                            <h5 class="card-title text-dark">Pizza Quesadillas (aka Pizzadillas)</h5>
                            <div class="d-flex flex-wrap justify-content-between">
                                <a href="Menu/Order?id=5ed6604591c37cdc054bcac5"
                                   class="btn btn-sm bg-black text-white shadow rounded mt-1.2 p-2">Order</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="shadow rounded card dishCard p-2">
                        <img class="card-img-top h-50" src="/images/specialOffer/51150600f4cb.jpg"/>
                        <div class="card-body">
                            <h5 class="card-title text-dark">Veggi-Prosciutto Pizza</h5>
                            <div class="d-flex flex-wrap justify-content-between">
                                <a href="Menu/Order?id=5ed6604591c37cdc054bcfb2"
                                   class="btn btn-sm bg-black text-white shadow rounded mt-4 p-2">Order
                               </a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
